*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

body{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
/* general rulez */
.container{
    max-width: 85%;
    margin: 0 auto;
    height: 100%;
    display: flex;
}
.btn{
    padding: 10px 20px;
    background-color: #038484;
    text-transform: uppercase;
    font-weight: 500;
    width: 200px;
    border-radius: 5px;
    font-size: 1.2rem;
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f3f0;
    cursor: pointer;
}
.animation-title{
        font-size: 4rem;
    font-weight: 900;
    transform: translateZ(0) scale(1);
    line-height: 1.2;
    color: #21333e;
}
header .header-top{
    width: 100%;
    height: 45px;
    background: #21333e;
    color: #acaeb1;
}
.container.head-top{
    display: flex;
    height: 100%;
}
.part-sx{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
.part-dx{
    height: 100%;
    width: 50%;    display: flex;
    align-items: center;
}
div.call-number{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.phone-number{
    width: 42%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mail{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div.social{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
header #jumbo{
    height: 600px;
    position: relative;
}
#jumbo nav{
    width: 100%;
    font-size: 1.6rem;
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
    top: 0;
    left: 0;
    /* debug */
    /* position: fixed;
    top: 0;
    left: 0; */
    /* margin-top: 45px; */
    
}
nav .nav-cont{
    display: flex;
    padding: 1% 0;
}
nav .logo{
    width: 35%;
    display: flex;
    align-items: center;
}
.text-logo{
    display: flex;
    justify-content: space-around;
    width: 35%;
    font-weight: 700;
}
p.title-nex{
    position: relative;
    color: #45baba;
}
p span.sfondo-nex{
    width: 160%;
    height: 150%;
    position: absolute;
    left: -50%;
    top: -25%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: -1;
    background-color:#c9dbd7;
}
#jumbo{
    background-image: url('../img/bg-13.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
#jumbo ul.menu-nav{
    width: 65%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* ul.menu-nav li.user{
    background-color: #fff;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
    width: 40px;
    height: 90%;
} */
#jumbo div.title-content{
    max-width: 55%;
    padding-top: 10%;
}
div.title-content h2{
    font-size: 4rem;
    font-weight: 900;
    transform: translateZ(0) scale(1);
    line-height: 1.2;
    color: #21333e;
}
h2.animation-title{
    position: relative;
    width: 40%;
    color: #038484;
    
}
h2.animation-title span.highlight{
    height: 55%;
    width: 98%;
    position: absolute;
    bottom: 0%;
    border-radius: 8px;
    z-index: -1;
    background-color:#c9dbd7;
}

div.my_btns{
    display: flex;
    width: 70%;
    justify-content: space-between;
}
div.title-content .my_btns .btn{
    margin-top: 1.4rem;
}
div.title-content .my_btns .btn.white{
    background: transparent;
    color: #038484;
    border: 1px solid #038484;
}

/* main */
/* services */
section#services{
    /* height: 400px; */
    width: 100%;
    background: #111117;
    padding: 10% 0;
    color: white;
}
#services .container .row{
    width: 100%;
    display: flex;
}
#services .container .row .title-services{
    width: 40%;
}
#services .container .row .fast{
    width: 60%;
    background-color: #141b1e;
    border-radius: 6px;
    padding: 5% 0;
}
#services .container .row .title-services .title-font-services{
    max-width: 70%;
    word-break: break-word;
    font-weight: 800;
    font-size: 2rem;
}
h2.animation-title2{
    position: relative;
    min-width: 90%;
    max-width: 95%;
    z-index: 1;
}
h2.animation-title2 span.highlight{
    width: 70%;
    background-color: #038484;
    height: 50%;
    position: absolute;
    left: 20%;
    bottom: 0%;
    z-index: -1;
    border-radius: 6px;

}
section#services .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.icons-fast{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.icons-fast i{
    font-size: 1.5rem;
    color: #038484;
    z-index: 2;
}
.icons-fast i:first-child{
    font-size: 3rem;
}
div.fast .container h3{
    font-size: 1.4rem;
}
div.fast .container p{
    font-size: 1rem;
}
.row.second{
    margin-top: 4%;
    height: 200px;
}
.row.second ul{
    width: 100%;
    list-style: none;
    display: flex;
}
.row.second ul li{
    height: 100%;
    border-radius: 8px;
    flex-basis: calc(100% / 3 - 10px);
    background-color:  #141b1e;
}
ul li:nth-child(2){
    margin: 0 20px;
}
/* /services */ 

/* leaders */
section#leaders{
    background-color: orange;
    height: 800px;
    width: 100%;
    background-image: url('../img/bg-6.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

section#leaders .container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#leaders .row{
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding-bottom: 5%;
}



#leaders h3{
    font-weight: 700;
    font-size: 0.80rem;
    color: #4ca2a2;
    text-transform: uppercase;
}
#leaders p{
    font-size: 1.2rem;
    margin: 1.5rem 0;
    color: #909fa2;
}

/* pricing */
section#pricing{
    /* height: 500px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 0;
    background: #eef4ed;
}
section#pricing .container{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
#pricing ul.menu-pricing{
    width: 100%;
    list-style: none;
    display: flex;
}
#pricing div.introduction-pricing{
    text-align: center;
    margin: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pricing div.introduction-pricing h4{
    color: #45baba;
}
#pricing div.introduction-pricing > *{

    margin: 0.5rem 0;
}
#pricing div.introduction-pricing p{
    font-size: 1.3rem;
}

#pricing ul.menu-pricing li{
    height: 100%;
    border-radius: 8px;
    padding: 6% 0;
    flex-basis: calc(100% / 3 - 30px);
    background-color:  white;
    display: flex;
    flex-direction: column;
    
}
#pricing ul.menu-pricing li > *{
    line-height: 2.9;
}

#pricing ul.menu-pricing li:nth-child(2){
    margin: 0 60px;
}

#pricing ul.menu-pricing li i{
    font-size: 2rem;
    color:  #038484;
}
#pricing div.price{
    color:  #038484;
    text-align: center;
}
#pricing div.price span.animation-title{
    font-size: 2rem;
    font-weight: 700;
    color:  #038484;
}
#pricing p.my_list{
    display: flex;
    width: 100%;
    justify-content: space-between;
    line-height: 1.6;
    font-size: 1.2rem;
}
#pricing .cont-offert{
    width:80%;
}
#pricing  li p.my_list i{
    font-size: 1.1rem;
}

/* choose-us */
section#choose-us{
    width: 100%;
    height: 600px;
    background-image: url('../img/bg-7.jpg');
    background-size: cover;
    background-position: center;
}
#choose-us .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#choose-us .container h2.animation-title{
    color: #f0f3f0;
    width: 100%;
    text-align: center;
}
#choose-us p{
    color: #f0f3f0;
    margin: 1.2rem 0;
    font-size: 15px;
    max-width: 50%;
    text-align: center;
}
/* footer */
/* form */
section#form{
    height: 450px;
    width: 100%;
}
section#form .form-cont{
    display: flex;
}
.form-dati{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#form .divisor-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#form input.input-date{
    margin-top: 0.6rem;
    flex-basis: calc(98% / 2);
    padding: 1%;
    border-radius: 5px;
}
#form input.max{
    margin-top: 0.6rem;
    width: 100%;
    height: 150px;
    padding: 0%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
div.form-dati{
    width: 55%;
    height: 100%;
}
div.contacts{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
}
div.contacts h3{
    font-size: 1.5rem;
}
.contacts p{
    font-size: 1.3rem;
    margin-top: 1rem;
}
.contacts p i{
    margin-right: 10px;
}
/* copyrigth */
section#copyright{
    height: 100px;
    background: black;
    color: #fff;
}


/* effects vue js */
span.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 0%;
    z-index: 0;
    display: none;
}
span.circle.block{
    animation-duration: 1s;
    display: flex;
    animation-name:  pulseArrow;
    animation-timing-function: ease;
}
@keyframes pulseArrow{
    0% { transform: translateY(0); 
        background-color:  #7be6e6; }
    30%{transform: scale(0); 
    background-color:  #45b1b1da; }
    50%{ transform: scale(0);
    background-color:  #49aaaa; }
    90% { transform: scale(1.5);
    background-color:  #338285a2;  }
    100% { display: none; 
    background-color:  #03848450; }

}

.row.second ul li,
.shipping{
    animation-duration: 2s;
}

.bounce{
    animation-name:  bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    30%{ transform: translateY(-10px); }
    50%{ transform: translateY(0px);}
    100% { transform: translateY( +10px ); }
}

.icons-fast i.white-i{
    color: white;
}
footer{
    position: relative;
}
div.finestra{
    width: 600px;
    height: 400px;
    background-color: coral;
    border: 1px solid #038484;
    border-radius: 8px;
    position: absolute; 
    top: 10%;
    left: 50%;
    transform: translate(-50%, -90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}
.fast.shipping:not(.no-hover):hover,
#services li:not(.no-hover):hover{
    transform: translateY(-7.5px);
}

.fast.shipping:not(.no-hover):hover i,
#services li:not(.no-hover):hover i
{
    color: #fff;
}
.beat{
    display: none;
}

.beat{
    border-radius: 50%;
}
#services li:not(.no-hover):hover i.beat,
.fast.shipping:not(.no-hover):hover i.beat{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(36, 89, 112);
    opacity: 0.5s;
    animation: mymove 1s infinite;
    /* transition:  infinite 0.4s ease-in-out 4s; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@keyframes mymove{
    0.5%{}
    80%{}
    100%{background-color: transparent;}
}



/**Controll all class coul be re-used like animation-title