*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
/* general rulez */
a{
    text-decoration: none;
}
.container{
    max-width: 85%;
    margin: 0 auto;
    height: 100%;
    display: flex;
}
.btn{
    padding: 10px 20px;
    background-color: #038484;
    text-transform: uppercase;
    font-weight: 500;
    width: 200px;
    border-radius: 5px;
    font-size: 1.2rem;
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f3f0;
    cursor: pointer;
}
h3{
    font-size: 1.4rem;
}
.btn.white{
    background: transparent;
    color: #038484;
    border: 1px solid #038484;
}
.animation-title{
    font-size: 4rem;
    font-weight: 900;
    transform: translateZ(0) scale(1);
    line-height: 1.2;
    color: #21333e;
}
p{
    font-size: 1rem;
}
/* /general rulez */
header .header-top{
    height: 45px;
    background: #21333e;
    color: #acaeb1;
}
.container.head-top{
    height: 100%;
}
.part-sx{
    height: 100%;
    width: 50%;
    align-items: center;
}
.part-dx{
    height: 100%;
    width: 50%;
    align-items: center;
}
div.call-number{
    width: 70%;
    justify-content: space-between;
}
.phone-number{
    width: 42%;
    justify-content: space-around;
    align-items: center;
}
.mail{
    width: 50%;
    justify-content: space-around;
    align-items: center;
}
div.social{
    width: 30%;
    justify-content: space-around;
}
.change_color{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
nav .nav-cont{
    padding: 1% 0;
}
nav .logo{
    width: 35%;
    align-items: center;
}
.text-logo{
    justify-content: center;
    width: 30%;
    font-weight: 700;
}
p.title-nex{
    color: #45baba;
    margin-right: 3%;
}
p span.sfondo-nex{
    width: 160%;
    height: 150%;
    position: absolute;
    left: -50%;
    top: -25%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 0;
    opacity: 0.4;
    background-color:#c9dbd7;
}
#jumbo{
    height: 600px;
    background-image: url('../img/bg-13.jpg');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: cover;
}
#jumbo ul.menu-nav{
    width: 65%;
    justify-content: space-around;
    align-items: center;
}
ul.menu-nav li{
    cursor: pointer;
}
#jumbo div.title-content{
    max-width: 55%;
    height: 100%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
div.title-content h2{
    font-size: 4rem;
    font-weight: 900;
    transform: translateZ(0) scale(1);
    line-height: 1.2;
    color: #21333e;
}
h2.animation-title{
    width: 40%;
    color: #038484;
    
}
h2.animation-title span.highlight{
    height: 55%;
    width: 98%;
    position: absolute;
    bottom: 0%;
    border-radius: 8px;
    z-index: -1;
}

div.my_btns{
    width: 70%;
    justify-content: space-between;
}
div.title-content .my_btns .btn{
    margin-top: 4.4rem;
}

/* main */
/* services */


#services .container .row .title-services{
    width: 40%;
}
#services .container .row .fast{
    width: 60%;
    border-radius: 6px;
    padding: 5% 0;
}
#services .container .row .title-services .title-font-services{
    max-width: 70%;
    word-break: break-word;
    font-weight: 800;
    font-size: 2rem;
}
h2.animation-title2{
    min-width: 90%;
    max-width: 95%;
    z-index: 1;
}
h2.animation-title2 span.highlight{
    width: 70%;
    height: 50%;
    position: absolute;
    left: 20%;
    bottom: 0%;
    z-index: -1;
    border-radius: 6px;
}
section#services .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.icons-fast{
    justify-content: space-between;
    align-items: center;
}
.icons-fast i{
    font-size: 1.5rem;
    color: #038484;
    z-index: 2;
}
.icons-fast i:first-child{
    font-size: 3rem;
}
.row.second{
    height: 200px;
}
.row.second ul li{
    height: 200px;
    border-radius: 8px;
    flex-basis: calc(100% / 3 - 10px);

}
ul li:nth-child(2){
    margin: 0 20px;
}
/* /services */ 

/* leaders */
section#leaders{
    padding: 5% 0;
    background-image: url('../img/bg-6.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
section#leaders .container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#leaders .row{
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 5%;
}
#leaders h3{
    font-weight: 700;
    font-size: 0.80rem;
    color: #4ca2a2;
    text-transform: uppercase;
}
#leaders p{
    margin: 1.5rem 0;
    color: #909fa2;
}
/* /leaders */
/* pricing */
section#pricing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 0;
    background: #eef4ed;
}
section#pricing .container{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pricing ul.menu-pricing{
    align-items: center;
}
#pricing div.introduction-pricing{
    text-align: center;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pricing div.introduction-pricing h4{
    color: #45baba;
}
#pricing div.introduction-pricing h2{
    text-align: center;
}
#pricing div.introduction-pricing > *{
    margin: 0.5rem 0;
}
#pricing ul.menu-pricing li{
    height: 500px;
    border-radius: 8px;
    flex-basis: calc(100% / 3 - 30px);
    background-color:  white;
    display: flex;
    flex-direction: column;
    position: relative;
}
div.pricing-item{
    display: flex;
    flex-direction: column;
}
div.each-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
div.each-item i{
    font-size: 10px;
}
span.intern{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.special{
    height: 50px;
    width: 100%;
    justify-content: flex-end;
}
div.special i{
    position: absolute;
    top: 20px;
}
.cont-offert p{
    padding: 5%;
}
#pricing h4{
    font-size: 1.5rem;
}
#pricing ul.menu-pricing li:nth-child(2){
    height: 530px;
    padding-top: 30px;
}
div.most-popular{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
}
.badge{
    width: 20%;
    height: 40%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.badge div{
    padding: 7.5px 15px 7.5px 10px;
    font-size: 8px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}
.badge div span:nth-child(2){
    position: absolute;
    bottom: -10%;
}
.most-popular i,
div.special i{
    display: none;
}
.badge p span{
    position: absolute;
    top: 50%;
}
.freccia{
    width: 20%;
    justify-content: center;
}

#pricing ul.menu-pricing li > *{
    line-height: 2.9;
}

#pricing ul.menu-pricing li:nth-child(2){
    margin: 0 60px;
}
#pricing ul.menu-pricing li i{
    font-size: 2rem;
    color:  #038484;
}
#pricing div.price{
    color:  #038484;
    text-align: center;
}
#pricing div.price span.animation-title{
    font-size: 2rem;
    font-weight: 700;
    color:  #038484;
}
#pricing .cont-offert{
    width:80%;
}
span.intern i{
    font-size: 1.4rem;
}
/*/ pricing */

/* choose-us */
section#choose-us{
    height: 600px;
    background-image: url('../img/bg-7.jpg');
    background-size: cover;
    background-position: center;
}
#choose-us .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#choose-us .container h2.animation-title{
    width: 100%;
    text-align: center;
    color: white;
}
#choose-us p{
    margin: 1.2rem 0;
    max-width: 50%;
    text-align: center;
}

#choose-us h2 span span{
    height: 50%;
}
#form h3.animation-title span span{
    height: 100%;
    opacity: 0.5;
}
#choose-us h2 span span,
#form h3.animation-title span span{
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    z-index: -1;
    
}
/*/ choose-us */

/* footer */
/* form */
section#form{
    padding: 5% 0;
}
.form-dati{
    justify-content: space-around;
}
#form div.title-form,
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#form .divisor-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#form input.input-date{
    margin-top: 0.6rem;
    flex-basis: calc(98% / 2);
    padding: 2%;
    border-radius: 5px;
    border: none;
    outline: 0;
}
.area{
    height: 60%;
    margin-top: 1rem;
    line-height: 1.6;
    padding: 1rem;
    border: none;
    outline: 0;
    border-radius: 8px;
    line-height: 1.2;
    margin-bottom: 1rem;
}
div.form-dati{
    width: 55%;
    padding: 5% 0;
    height: 100%;
    justify-content: space-around;
}
div.contacts{
    width: 35%;
    height: 100%;
}
.contacts p{
    font-size: 1.3rem;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contacts p i{
    margin-right: 10px;
    color: #038484;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #6dcecea9;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* copyrigth */
section#copyright{
    height: 100px;
    background: black;
    color: #fff;
}
