<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- link css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/palettes.css">

    <!-- vue Js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <!-- font-awesome-cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>
<body>
    <div id="app">


    <!-- start header -->
        <header>
            <div class="header-top">
                <div class="container head-top">
                    <div class="part-sx">
                        <i class="fas fa-clock"></i>
                        <p style="padding-left: 2%;">Open Hours: Mon - Sat - 9:00 - 18:00</p>
                    </div>
                    <div class="part-dx">
                        <div class="call-number">
                            <div class="phone-number">
                                <i class="fas fa-phone-alt"></i>
                                {{ phone }}
                            </div>
                            <div class="mail">
                                <i class="fas fa-envelope"></i>
                                {{ mail }}
                            </div>
                        </div>
                        <div class="social">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>
                
            </div>
            <div id="jumbo">
                <nav @scroll="scrollDown">
                    <div class="nav-cont container">
                        <!-- questo diventa white solo onscroll -->
                        <!--chiedere a giack del discorso riutilizzo-->
                        <div class="logo">
                            <div class="text-logo">
                                <p class="title-nex"> 
                                    <span class="sfondo-nex"></span>
                                    NEX
                                </p>
                                <p>GEN</p>
                            </div>
                        </div>
                        <ul class="menu-nav">
                            <li v-for="lista in arrayNav">{{ lista }}</li>
                            <li class="user"><i class="far fa-user"></i></li>
                            <li>                                  
                                <a href="#form" class="btn">
                                        get in touch
                                </a>
                        </li>
                        </ul>
                    </div>
                </nav>
                <div class="container">
                    <div class="title-content">
                        <h3 style="color: #00a6a6;">Express Delivery</h3>
                        <h2>What are we going to deliver </h2>
                        <h2 class="animation-title" style="color: #038484;">
                            <span class="highlight evidenziaclear_blue"></span>
                            today?</h2>
                        <div class="my_btns">
                            <div class="btn">get in touch</div>
                            <div class="btn white">read more</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- /header -->

        <!-- start main -->
        <main>
            <!-- section services -->
            <section id="services" class="serviceBcg">
                <!-- container for margin -->
                <div class="container white-title">
                    <!-- first row -->
                    <div class="row">
                        <div class="title-services">
                            <h3 class="clearBlue" style="margin-bottom: 5%;">what we do</h3>
                            <div class="title-font-services">
                                <h2>
                                    We offer a full range 
                                </h2>
                                <h2 class="animation-title2">
                                    <span class="highlight evidenzia_blue"></span>
                                    of delivery
                                </h2> 
                                <h2>methods.</h2>
                            </div>
                        </div>
                        <div class="fast shipping p_boxService" >

                            <div class="container">
                                <div class="icons-fast">
                                    <i  class="fas fa-truck"></i>
                                    <i  class="fas fa-arrow-right beat"></i>
                                </div>
                                <h3>Shipping Fast</h3>
                                <p>Special fast delivery service that guarantees the arrival of the object on the same day as postage. Included monitoring
                                via miobile app.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /first row -->

                    <!-- start second row-->
                    <div class="row second">
                        <!-- start menu services -->
                        <ul>
                            <li class="p_boxService">
                                <div class="container">
                                    <div class="icons-fast">
                                        <i class="fas fa-motorcycle"></i>
                                        <i  class="fas fa-arrow-right beat"></i>
                                    </div>
                                    <h3>Motoboy</h3>
                                    <p>Functional motoboy for delivery of documents and small objects.</p>
                                </div>
                            </li>
                            <li class="p_boxService">
                                <div class="container">
                                    <div class="icons-fast">
                                        <i  class="fas fa-caravan"></i>
                                        <i  class="fas fa-arrow-right beat">
                                        </i>
                                    </div>
                                    <h3>Shuttle Van</h3>
                                    <p>Suitable for medium sized loads that need digital tracking.</p>
                                </div>
                            </li>
                            <li class="p_boxService">
                                <div class="container">
                                    <div class="icons-fast">
                                        <i class="fas fa-truck-loading"></i>                 
                                        <i class="fas fa-arrow-right beat"></i>
                                    </div>
                                    <h3>Mini Truck</h3>
                                    <p>For dry cargo deliveries with more cubic allocation.</p>
                                </div>
                            </li>
                        </ul>
                        <!-- /menu services -->
                    </div>
                    <!-- /end second row -->
                </div>
                <!-- /container -->
            </section>
            <!-- /section services -->

            <!-- section leaders -->
            <section id="leaders">
                <div class="container">
                    <div class="row">
                        <h3>who we are</h3>
                        <h2 class="animation-title" style="color: #21333e;">Industry Leaders.</h2>
                        <p>With all of this expertise and capability comes an unrivalled commitment to customer service.</p>
                        <p>We will work hard to understand your needs in order to develop a productive, long-term partnership.</p>
                        <div class="btn">read more</div>
                    </div>

                </div>
            
            </section>
            <!-- /leaders -->

            <!-- pricing -->
            <section id="pricing">
                <div class="container">
                    <div class="introduction-pricing">
                        <h4>monthly plans</h4>
                        <h2 class="animation-title">Pricing table</h2>
                        <p>We can help you deliver and execute your future, wherever you compete, using the latest technologies, from strategy
                            development to implementation.</p>
                    </div>
                    <ul class="menu-pricing">
                        <li>
                            <div class="container">
                                <i class="fas fa-rocket"></i>
                                <h4>Standard</h4>
                                <div class="cont-offert">
                                    <div class="price">
                                        <span>$</span>
                                        <span class="animation-title">
                                            {{ standard }}
                                        </span>
                                        <span>/mo</span>
                                    </div>
                                    <p class="my_list" v-for="(prova,index) in contract">{{prova}}
                                        <i :class="contract[index].includes('National Coverage','Unlimited Motoboy','Address Collection') ? 'fas fa-check' : 'fas fa-times' "></i>
                                        <i></i>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="container">
                                <i class="fas fa-briefcase"></i>
                                <h4>Professional</h4>
                                <div class="cont-offert">
                                    <div class="price">
                                        <span>$</span>
                                        <span class="animation-title">
                                            {{ professional }}
                                        </span>
                                        <span>/mo</span>
                                    </div>
                                    <p class="my_list" v-for="(prova,index) in contract">{{prova}}
                                        <i :class="contract[index].includes('National Coverage','Unlimited Motoboy','Address') ? 'fas fa-check' : 'fas fa-times' "></i>
                                    </p>
                                </div>
                            </div>                                  
                        </li>
                        <li>
                            <div class="container">
                                <i class="fas fa-gem"></i>
                                <h4>Ultimate</h4>
                                <div class="cont-offert">
                                    <div class="price">
                                        <span>$</span>
                                        <span class="animation-title">
                                            {{ ultimate }}
                                        </span>
                                        <span>/mo</span>
                                    </div>
                                    <p class="my_list" v-for="(prova,index) in contract">{{prova}}
                                        <i
                                            :class="contract[index].includes('National Coverage','Unlimited Motoboy','Address') ? 'fas fa-check' : 'fas fa-times' "></i>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- /princing -->

            <!-- choose us -->
            <section id="choose-us">
                <div class="container white-title">
                    <h2 class="animation-title white-title">Why choose us?</h2>
                    <p>We work intensively in search of ideals that can add up in the lives of our customers. This is what motivates us to
                    improve every day.</p>
                    <div class="btn">get in touch</div>
                </div>
            </section>
            <!-- /choose us -->
        </main>
        <!-- /main -->

        <!-- start footer -->
        <footer>





            <div class="finestra evidenziaclear_blue" :class="active">
                <h2 class="animation-title" style="font-size: 2rem; text-align: center;">Grazie per averci scelto</h2>
                <span>{{ name }}</span>
                <p>Sei ufficialmente iscritto alla newsletter di NexGen</p>
                <p>Riceverai le tue credenziali al numero {{ phoneNumber }}</p>
                <p>Riceverai una mail all'indirizzo {{ yourMail }}</p>
                <div @click="returnSend" @keyup.enter="returnSend" class="btn">Prosegui</div>
            </div>
                        















            <section id="form">
                <div class="container form-cont">
                    <div class="form-dati">
                        <div class="title-form">
                            <h4 style="text-transform: uppercase;">send message</h4>
                            <h3 class="animation-title">Get in touch</h3>
                            <p>We will respond to your message as soon as possible</p>
                        </div>
                        <form @submit="sendForm" action="">
                            <div class="divisor-input">
                                <input required v-model="name" class="input-date palette-form" type="text" placeholder="Name">
                                <input required v-model="yourMail" class="input-date palette-form" type="text" placeholder="Email">
                            </div>
                            <div class="divisor-input">
                                <input required v-model="phoneNumber" class="input-date palette-form" type="text" placeholder="Phone">
                                <input required v-model="info" class="input-date palette-form" type="text" placeholder="More info">
                            </div>
                        
                            <textarea class="palette-form" style="width: 100%;" required v-model="discussion" name=""  class="input-date area" id="" cols="30" rows="10" placeholder="Message"></textarea>
                            <button class="btn" type="submit" style="margin-top: 2%;">SEND</button>
                        </form>
                    </div>

                    <div class="contacts">
                        <h3>Example Inc.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit exercitationem.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit placeat animi ullam?</p>
                        <p><i class="fas fa-phone-alt"></i>{{ phone }}</p>
                        <p><i class="fas fa-envelope"></i> {{ mail }}</p>
                        <p><i class="fas fa-map-marker-alt"></i> {{ map }}</p>
                        <div class="btn white view-map" style="margin-top: 1.6rem;">view map</div>
                    </div>

                </div>

            </section>
            <section id="copyright">
                <div class="container" style="justify-content: space-between; align-items: center;">
                    <p>Enjoy the low price. We are tracking any intention of piracy.</p>
                    <p>© 2020 NEXGEN is Proudly Powered by Codings.</p>
                </div>
            </section>
        </footer>
        <!-- /footer -->
    </div>
    <script src="js/script.js"></script>
</body>
</html>