<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- link css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- vue Js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <!-- font-awesome-cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>
<body>
    <div id="app">


    <!-- start header -->
        <header>
            <div class="header-top">
                <div class="container head-top">
                    <div class="part-sx">
                        <i class="fas fa-clock"></i>
                        <p style="padding-left: 2%;">Open Hours: Mon - Sat - 9:00 - 18:00</p>
                    </div>
                    <div class="part-dx">
                        <div class="call-number">
                            <div class="phone-number">
                                <i class="fas fa-phone-alt"></i>
                                {{ phone }}
                            </div>
                            <div class="mail">
                                <i class="fas fa-envelope"></i>
                                {{ mail }}
                            </div>
                        </div>
                        <div class="social">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>
                
            </div>
            <div id="jumbo">
                <nav>
                    <div class="nav-cont container">
                        <!-- questo diventa white solo onscroll -->
                        <!--chiedere a giack del discorso riutilizzo-->
                        <div class="logo">
                            <div class="text-logo">
                                <p class="title-nex"> 
                                    <span class="sfondo-nex"></span>
                                    NEX
                                </p>
                                <p>GEN</p>
                            </div>
                        </div>
                        <ul class="menu-nav">
                            <li v-for="lista in arrayNav">{{ lista }}</li>
                            <li class="user"><i class="far fa-user"></i></li>
                            <li><div class="btn">get in touch</div></li>
                        </ul>
                    </div>
                </nav>
                <div class="container">
                    <div class="title-content">
                        <h3 style="color: #00a6a6;">Express Delivery</h3>
                        <h2>What are we going to deliver </h2>
                        <h2 class="animation-title" style="color: #038484;">
                            <span class="highlight"></span>
                            today?</h2>
                        <div class="my_btns">
                            <div class="btn">get in touch</div>
                            <div class="btn white">read more</div>
                        </div>

                    </div>
                </div>

            </div>

        </header>
        <!-- /header -->



        <!-- start main -->
        <main>
            <!-- section services -->
            <section id="services">
                <!-- container for margin -->
                <div class="container">
                    <!-- first row -->
                    <div class="row">
                        <div class="title-services">
                            <h3 style="margin-bottom: 5%;">what we do</h3>
                            <div class="title-font-services">
                                <h2>
                                    We offer a full range 
                                </h2>
                                <h2 class="animation-title2">
                                    <span class="highlight"></span>
                                    of delivery
                                </h2> 
                                <h2>
                                    methods.
                                </h2>
                            </div>
                        </div>
                        <div class="fast">

                            <div class="container">
                                <div class="icons-fast">
                                    <i class="fas fa-truck"></i>

                                    <i class="fas fa-arrow-right"></i>
                                </div>
                                <h3>Shipping Fast</h3>
                                <p>Special fast delivery service that guarantees the arrival of the object on the same day as postage. Included monitoring
                                via miobile app.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /first row -->

                    <!-- start second row-->
                    <div class="row second">
                        <!-- start menu services -->
                        <ul>
                            <li>
                                <div class="container">
                                    <div class="icons-fast">
                                        <i class="fas fa-motorcycle"></i>
                                        <i class="fas fa-arrow-right"></i>
                                    </div>
                                    <h3>Motoboy</h3>
                                    <p>Functional motoboy for delivery of documents and small objects.</p>
                                </div>
                            </li>
                            <li>
                                <div class="container">
                                    <div class="icons-fast">
                                        <i class="fas fa-caravan"></i>
                                        <i class="fas fa-arrow-right"></i>
                                    </div>
                                    <h3>Shuttle Van</h3>
                                    <p>Suitable for medium sized loads that need digital tracking.</p>
                                </div>
                            </li>
                            <li>
                                <div class="container">
                                    <div class="icons-fast">
                                        <i class="fas fa-truck-loading"></i>                 
                                        <i class="fas fa-arrow-right"></i>
                                    </div>
                                    <h3>Mini Truck</h3>
                                    <p>For dry cargo deliveries with more cubic allocation.</p>
                                </div>
                            </li>
                        </ul>
                        <!-- /menu services -->
                    </div>
                    <!-- /end second row -->
                </div>
                <!-- /container -->
            </section>
            <!-- /section services -->

            <!-- section leaders -->
            <section id="leaders">
                <div class="container">
                    <div class="row">
                        <h3>who we are</h3>
                        <h2 class="animation-title">Industry Leaders.</h2>
                        <p>With all of this expertise and capability comes an unrivalled commitment to customer service.</p>
                        <p>We will work hard to understand your needs in order to develop a productive, long-term partnership.</p>
                        <div class="btn">read more</div>
                    </div>

                </div>
            
            </section>
            <!-- /leaders -->



            <!-- pricing -->
            <section id="pricing">
                <div class="container">
                    <h4>monthly plans</h4>
                    <h2>Pricing table</h2>
                    <p>We can help you deliver and execute your future, wherever you compete, using the latest technologies, from strategy
                    development to implementation.</p>
                    <ul class="menu-pricing">
                        <!-- <li v-for="element in princingArray">
                            <i :class="element.iClass"></i>
                            <p>{{ element.titlePrice}}</p>
                        </li>
                    --> 
                        <li>
                            <i :class="iClass[0]"></i>
                            <p>{{titlePrice[0]}}</p>
                        </li>
                        <li>
                            <i :class="iClass[1]"></i>
                            <p>{{titlePrice[1]}}</p>
                        </li>
                        <li>
                            <i :class="iClass[2]"></i>
                            <p>{{titlePrice[2]}}</p>
                        </li>

                        <!-- <li v-for="element in titlePrice">
                            <i :class="iClass"></i>
                            <p>{{ element }}</p>
                        </li>
                    -->
                        <!-- <li>
                            <i class="fas fa-rocket"></i>
                            <h4>Standard</h4>
                            
                        </li>
                        <li>
                            <i class="fas fa-briefcase"></i>
                            <h4>Professional</h4>

                        </li>
                        <li>
                            <i class="fas fa-gem"></i>
                            <h4>Ultimate</h4>
                        </li> -->
                    </ul>

                </div>
            </section>
            <!-- /princing -->

            <!-- choose us -->
            <section id="choose-us">
                <div class="container">
                    <h2 class="animation-title">Why choose us?</h2>
                    <p>We work intensively in search of ideals that can add up in the lives of our customers. This is what motivates us to
                    improve every day.</p>
                    <div class="btn">get in touch</div>
                </div>
            </section>
            <!-- /choose us -->
        </main>
        <!-- /main -->


        <!-- start footer -->
        <footer>
            <section id="form">
                <div class="container form-cont">
                    <div class="form-dati">
                        <h3></h3>
                        <h2 class="animation-title">Get in touch</h2>
                        <p>We will respond to your message as soon as possible</p>
                        <form action="">
                            <input class="input-date" type="text">
                            <input class="input-date" type="text">
                            <input class="input-date" type="text">
                            <input class="input-date" type="text">
                            <input type="text">
                        </form>
                    </div>
                    <div class="contacts">
                        <h3>Example Inc.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi omnis a tempora atque commodi et, numquam, ullam esse quis fugit, animi distinctio tempore nulla quisquam voluptatum qui praesentium! Incidunt, exercitationem.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quaerat commodi, modi itaque ut voluptates veritatis aliquid ipsa vero ab expedita impedit fuga id corrupti. Assumenda mollitia placeat animi ullam?</p>
                        <p><i class="fas fa-phone-alt"></i>{{ phone }}</p>
                        <p><i class="fas fa-envelope"></i> {{ mail }}</p>
                        <p><i class="fas fa-envelope"></i> {{ map }}</p>
                        <div class="btn white">view map</div>
                    </div>

                </div>
            </section>
            <section id="copyright">
                <div class="container" style="justify-content: space-between; align-items: center;">
                    <p>Enjoy the low price. We are tracking any intention of piracy.</p>
                    <p>© 2020 NEXGEN is Proudly Powered by Codings.</p>
                </div>
                <!-- <form @submit="(funzione)" action=""></form> -->
            </section>
        </footer>
        <!-- /footer -->
    </div>





    <script src="js/script.js"></script>
</body>
</html>